<html>
    <head>
        <title>Dream's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Dream's blog</a></h1>
        </div>
        
        <div>
            <p>published: 14.07.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>abcd/</p>
            </div>

        <div>
            <p>published: 14.07.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>abcde/</p>
             </div>
    
    </body>
</html>